* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Geologica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Geologica, sans-serif;
  position: relative;
  background: url('./images/MACtreeBG.png') no-repeat center center;
  background-size: cover;
  
  background-color: #4e4e82;
}

@media (max-width: 768px) {
  body {
    background: url('./images/MOBILEtreeBG.png') no-repeat center center;
    background-size: cover;
    }
  }

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  filter: blur(10px);     
  z-index: -1; 
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  z-index: 1;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 5px;
  color: #f2f2f2;
}

.bio {
  margin-bottom: 20px;
  color: #ccc;
}


.links a {
  display: block;
  background: white;
  color: #333;
  text-decoration: none;
  padding: 12px;
  margin: 10px 0;
  border-radius: 25px;
  transition: 0.3s;
}

.links a:hover {
  background: #ddd;
  transform: scale(1.05);
}

/* QRcode */
#QR_code {
  position: fixed;
  bottom: 2vw;
  right: -180px; 
  width: 225px; 
  height: auto;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: right 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: blur(10px); 
  cursor: pointer;
}

#QR_code.active {
right: 2vw;
filter: blur(0px);  
}

